.OutterContainer{
  display:flex;
  justify-content: space-around;
  align-items: center;
  border: solid black 1px;
  padding: 2px;
  margin: 2px;
  border-radius: 10px;
  background-color: rgba(207, 204, 204, 0.83);
  min-height: 100px;
}

.detailsContainer{
  margin: 2px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width:100px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.detailsContainer :hover{
  background-color: cadetblue;
  color: darkblue;
}
.category{
margin: 2px;

}
.categoryCounts{
margin:2px;

}

.Heading{
  font-size: xx-large;
  font-weight: 600;
  align-self: center;
  margin: 0 1px 4px 1px;
}